.container {
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #c5cc4b;

  h1 {
    font-size: 5rem;
    font-weight: 700;
    font-family: "Lora", sans-serif;
    text-align: center;
    max-width: 50%;
    @media only screen and (max-width: 770px) {
      max-width: 100%;
    }
  }
}

.buttons {
  display: inline-grid;
  gap: 1rem;
  filter: drop-shadow(1px 0px 2px rgba(0, 0, 0, 0.4));
  @media only screen and (min-width: 770px) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  // @media only screen and (max-width: 770px) {
  //   grid-template-columns: auto-fit;
  // }

  button {
    width: 100%;
    padding: 2rem;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 2rem;
    background-color: #cd774c;
    color: #6e381d;
  }
}
.currentPlay {
  display: flex;
  gap: 1rem;
  font-size: 4rem;
  text-align: center;
  p {
    padding: 0 2rem;
  }
}
.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 7rem;
  p {
    padding: 0 2rem;
    text-align: center;
  }
}
